* {
    box-sizing: content-box;

}

ul {
    color: #fff;
    text-align: start;
    
}
ul h3 {
    text-decoration: underline gold;

}

html {
    background: linear-gradient(to bottom, black, gold 200%);
    margin: 0px;
    min-height: 100%;
}


body { 
    height: 100%;
    margin: 0 auto;
    max-width: 650px;
    background-color: #000000;
    text-align: center;
    border: solid rgb(100, 100, 98);
}

img {
    border: solid rgb(100, 100, 98) 1px;
    margin-top: 10px;

}

h2 {
    color: gold;
    font-family: fantasy;
}
p {
    color: #fff;

}

h1 {
    font-family: monospace;
    font-size: 40px;
    color: #fff;
    padding: 5px;
    text-decoration: underline gold;
}


section {
    border-top: solid gold;


}

article {
    border-top: solid gold;

}

h3 {
    color: #fff;
}

#bug {
    margin: 0%;
    padding-bottom: 10px;
}

#bug a {
    color: gold;
    
}

#bug a:hover {
    color: rgba(255, 217, 0, 0.603);
    font-size: 20px;
    
}

footer {
    border-top: solid gold;

}

@media screen and (max-width=300px) {
    body {
        text-align: center;
        width:100%;
        margin: 0%;
        
    }

}

